@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.daytext {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.hours {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.backgroundImg {
  background-image: url(./Rectangle\ 2.svg);
  background-size: cover;
  padding: 13px 28px;
  width: 374px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.list {
  padding: 23px 29px;
  padding-bottom: 36px;
  background-color: #ffffff;
}
.inputField {
  outline: none;
  width: 208px;
  height: 25px;
  background: #ebeff2;
  border-radius: 0px 5px 5px 0px;
  border-width: 0px;
  padding: 12px 14px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}
.addButton {
  width: 88px;
  height: 49px;
  background: #20eeb0;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks {
  background-color: white;
  padding: 0px 29px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  border-radius: 0px 0px 10px 10px;
}
