@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow-x: auto;
}
.container {
  display: flex;
  align-items: center;
  gap: 296px;
}
